---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// FONTS

// $font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:  SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-serif:      "Libre Baskerville", Baskerville, "Book Antiqua", Georgia, Times, serif;

// DRACULA COLOR SCHEME

$base03:  #282a36;// darkest
$base02:  #44475a;
$base01:  #6272a4;
$base00:  #f8f8f2;// lightest
$base0:   #839496;
$base1:   #93a1a1;
$base2:   #dddddd;
$base3:   #fdf6e3;
$yellow:  #b58900;
$orange:  #cb4b16;
$base4:   #dc322f;
$red:     #dc322f;
$magenta: #d33682;
$violet:  #6c71c4;
$blue:    #268bd2;
$cyan:    #2aa198;
$green:   #859900;
$base5:   #FFFFFF;

$black-color:        $base03;
$dark-grey-color:    $base02;
$comment-blue-color: $base01;
$cream-color:        $base00;

$grey-color:         $base0;
$grey-color-light:   $base1;
$off-white-color:    $base2;
$white-color:        $base3;
$red-color:          $base4;
$very-white-color:   $base5;

// OTHER VARIABLES

$base-font-family:   $font-family-serif;
$base-font-size:     18px;
$base-font-weight:   400;
$base-line-height:   $base-font-size * 1.618;
$spacing-unit:       $base-line-height;

$small-font-size:    0.8rem;
$small-line-height:  $small-font-size * 1.618;

$background-color:     $cream-color;
$text-color:           $comment-blue-color;
$highlight-bg-color:   $off-white-color;
$highlight-text-color: $comment-blue-color;
$muted-text-color:     $comment-blue-color;
$H4-color:             $black-color;
$H5-color:             $black-color;

$dark-background-color:     $black-color;
$dark-text-color:           $comment-blue-color;
$dark-highlight-bg-color:   $black-color;
$dark-highlight-text-color: $comment-blue-color;
$dark-muted-text-color:     $comment-blue-color;
$dark-H4-color:             $white-color;
$dark-H5-color:             $white-color;

$brand-color:          $dark-grey-color;
$accent-color:         $red-color;
$title-color:          $red-color;
$warning-text-color:   $red-color;

// Width of the content area
$content-width:      calc(620px + (#{$spacing-unit}*2));
$on-palm:            600px;
$on-laptop:          800px;


@mixin dark-mode {
  background-color: $dark-background-color;
  color:            $dark-text-color;
}


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left:  $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "fonts", 
  "base",
  "layout"
;
